/*Gallery*/
.gallery-wrapper{
  height: auto;
  border-top: solid;
  padding: 50px 0;
  margin-bottom: 80px;
}
.gallery-container{
  display:inline-block;
}
.gallery{
  text-align: center;
  padding-top: 50px;
  margin-top: 30px;
}
/*OBJECT*/
.object{
  display:inline-block;
  margin: 20px 10px;
  width: 20%;
  cursor: pointer;
}
.object:hover{
  opacity: 0.7;
}
/*DOODLE*/
.doodle{
  display:inline-block;
  margin: 20px 10px;
  width: 20%;
  cursor: pointer;
}
.doodle:hover{
  opacity: 0.7;
}
/*WELCOMEBORD*/
.welcomebord{
  display:inline-block;
  margin: 20px 10px;
  width: 20%;
  cursor: pointer;
}
.welcomebord:hover{
  opacity: 0.7;
}
/*SCULPTURE*/
.sculpture{
  display:inline-block;
  margin: 20px 10px;
  width: 20%;
  cursor: pointer;
}
.sculpture:hover{
  opacity: 0.7;
}
/*DESIGN*/
.design{
  display:inline-block;
  margin: 20px 10px;
  width: 20%;
  cursor: pointer;
}
.design:hover{
  opacity: 0.7;
}
.category-img{
  width:30%;
  display: inline-block;
}
.category-text{
  margin-bottom: 30px;
}
/*ギャラリーモーダル*/
/*opus*/
.opus-modal{
  position: fixed;
  background-color: rgba(230,236,240,0.9);
  z-index: 100;
  top: 5%;
  left: 20%;
  padding: 20px 0 20px;
  border-radius: 10px;
  width: 60%;
  height:auto;
  text-align: center;
  font-family: "YuMincho";
  display: none;
}
.modal-img{
  width: 55%;
  margin-top: 10px;
}
.close{
  margin-right: 10px;
  position: absolute;
  left: 94%;
  top:2%;
  opacity: 0.5;
  cursor: pointer;
}
/*back-home*/
.back-home{
  position: fixed;
  background-color: rgba(230,236,240,0.9);
  z-index: 100;
  top: 88%;
  left: 93%;
  padding: 5px;
  border-radius: 15px;
  opacity: 0.5;
}
.back-home:hover{
  opacity: 0.9;
}
.fa-home{
  color:black;
}
