/* タブレット向けレイアウト */
@media (max-width: 1025px) {
  html{
    height: auto;
  }
  body{
    height: auto;
  }
  footer {
    height: 66px;
  }
  footer p{
    margin-bottom: 0;
    padding-right: 5px;
  }
  .top-wrapper{
    padding-bottom: 0;
    padding-top:10px;
    background-position:center;
    background-repeat: no-repeat;
  }
  .profile-wrapper{
    padding-top: 0;
    height: auto;
  }
  .profile-image{
    width: 60%;
  }
  .profile-text{
    height: 80%;
    padding-right: 10px;
  }
  .profile-text div{
    clear
  }
  .category-img{
    width: 45%;
  }
  /*opus*/
  .opus{
    width: 40%;
  }
}
/* スマホ向けレイアウト */

@media (max-width: 670px) {
  html{
    height:100%;
  }
  header{
    height: 55px;
  }
  .fa-bars{
    width: 20px;
    margin-bottom: 5px;
  }
  body{
    height: 100%;
  }
  footer {
    height: 55px;
  }
  footer p{
    margin-bottom: 0;
    padding-right: 5px;
  }
  /*Contact*/
  .section-title{
    width: auto;
  }
  .contact-form input{
    width: auto;
  }
  .contact-form textarea{
    width: auto;
  }
  /*prof*/
  .profile-wrapper{
  height: 100%;
  width: 100%;
  background-color:#f7f7f7;
  background-size:cover;
  padding: 30px 0 100px 0;
  color: black;
  text-align:center;
}
  .prof-img{
    width: 50%;
    float: none;
    margin: auto;
    text-align: center;
  }
  .profile-image{
    width: 80%;
  }
  .profile-text{
    width: 80%;
    clear:left;
    float: none;
    text-align: center;
  }
 br{
   display: none;
 }
 /*gallery*/
 .category-img{
   width: 80%;
 }
 /*opus*/
 .opus{
   width: 80%;
 }
 .back-home{
   position: fixed;
   background-color: rgba(230,236,240,0.9);
   z-index: 100;
   top: 88%;
   left: 85%;
   padding: 5px;
   border-radius: 15px;
   opacity: 0.5;
 }
}
